<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDez5HFtaNCHrvqV4Hgo170UWXaaQ8vuvY</string>
	<key>GCM_SENDER_ID</key>
	<string>721644712772</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Camino-Claro.CS50-IOS</string>
	<key>PROJECT_ID</key>
	<string>camino-claro-4e31b</string>
	<key>STORAGE_BUCKET</key>
	<string>camino-claro-4e31b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:721644712772:ios:488bd10d91b0b79d70dd11</string>
</dict>
</plist>
